<% @page_title = 'History' if params[:history] || params[:page] %>
<div id="shout_form">
	<%= render :partial => 'shout' %>
</div>

<div id="shouts">
	<%= render :partial => "messages/messages", :locals => {:messages => @messages} %>
</div>

<p class="history"><%= link_to 'View the History', messages_path(:history => 'show') %></p>

<%= periodically_call_remote(:url => messages_path, :method => :get ) %>