<div id="shouts">
	<table class="listing">
		<tbody id="messages_list">
			<%= render :partial => "messages/item", :collection => @messages, :as => :message %>
		</tbody>
	</table>
</div>

<p class="history"><%= link_to 'View the History', messages_path(:history => 'show') %></p>

<%= render :partial => 'shout' %>

<%= periodically_call_remote(:url => {:action => 'update_wall'} ) %>