<% @page_title = 'History' if params[:history] || params[:page] %>
<div id="shout_form">
	<%= render :partial => 'shout' %>
</div>

<div id="shouts">
	<%= render :partial => "messages/messages", :locals => {:messages => @messages} %>
</div>

<%= render :partial => "messages/pagination" %>

<%= periodically_call_remote(:url => messages_path, :method => :get ) %>